.form-modal-container {
}

.form-modal {
	background: white;
	height: 100%;
}

.input-group {
	border: 1px solid black;
	margin: 20px;
	border-radius: 5px;
}

.input-group > label {
	position: relative;
	display: flex;
	top: -10px;
	left: 10px;
	max-width: fit-content;
	background-color: white;
	color: black;
	padding: 0 5px;
	font-size: 14px;
	height: max-content;
}

.input-group > input {
	background: none;
	border: none;
	border: 0px;
	padding: 5px 20px 20px 48px;
	font-size: 18px;
	width: 270px;
}

.input-group > button {
	background: none;
	border: none;
	padding: 5px 20px 20px 48px;
	font-size: 18px;
}

.input-group-frequency {
	background: none;
	border: none;
	padding: 5px 20px 20px 48px;
	font-size: 18px;
}

input:focus {
	outline: none;
}

.input-group-color {
	margin: 10px;
	margin-left: auto;
}

.input-group-name {
	display: flex;
}
.input-group-name > input {
	padding: 0px 0px 0px 0px;
}

.form-input-column {
	display: flex;
	justify-content: space-around;
}

.form-input-column > div {
	width: 50%;
	margin: 10px 20px;
}

.freq-dialog-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	min-width: 350px;
	max-width: 500px;
	height: 250px;
	background: white;
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: "Inter";
	font-size: 20px;
	padding: 40px 30px 30px 30px;
}

.freq-dialog-submit {
	margin-left: auto;
	width: 100px;
	font-family: "Inter";
	font-size: 20px;
	padding: 10px 0px;
	background: none;
	border: none;
}

.freq-dialog-number-input {
	font-family: "Inter";
	font-size: 20px;
	width: 50px;
	height: 30px;
}

/* .freq-dialog-radio-input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.dialog-input-container {
	position: relative;
} */

/* .radio-button {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: rgb(228, 228, 228);
	border-radius: 50%;
	cursor: pointer;
}

.radio-button:hover {
	background:rgb(187, 187, 187);
}

.radio-button:checked {
	background:rgb(0, 174, 255);
}

.dialog-input-container > label {
	padding-left: 50px;
} */

.form-reminder-dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
