form {
	width: 70%;
	margin: 0px auto;
}

.loading {
	margin: auto;
}

.form-modal {
	background: white;
	height: 100%;
}

.input-group {
	border: 1px solid rgb(185, 185, 185);
	margin: 40px 0px;
	border-radius: 5px;
}

.input-group > label {
	position: relative;
	display: flex;
	top: -10px;
	left: 10px;
	max-width: fit-content;
	background-color: white;
	color: rgb(94, 94, 94);
	padding: 0 5px;
	font-size: 14px;
	height: max-content;
}

.input-group > input {
	background: none;
	border: none;
	border: 0px;
	padding: 5px 0px 20px 48px;
	font-family: "Karla";
	font-size: 18px;
	width: 94%;
}

.input-group > Field {
	background: none;
	border: none;
	border: 0px;
	padding: 5px 0px 20px 48px;
	font-family: "Karla";
	font-size: 18px;
	width: 94%;
}

.input-group > button {
	background: none;
	border: none;
	padding: 5px 20px 20px 48px;
	font-family: "Karla";
	font-size: 18px;
	width: 100%;
	text-align: left;
}

.input-group-frequency {
	background: none;
	border: none;
	padding: 5px 20px 20px 48px;
	font-size: 18px;
}

input:focus {
	outline: none;
}

.input-group-color {
	margin: 10px;
	margin-left: auto;
}

.input-group-name {
	display: flex;
}
.input-group-name > input {
	padding: 0px 0px 0px 0px;
}

.form-input-column {
	display: flex;
	justify-content: space-around;
	gap: 10px;
}

.form-input-column > div {
	width: 50%;
	margin: 0px;
}

.form-reminder-dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.form-button-group {
	display: flex;
	justify-content: right;
	gap: 20px;
}

.form-buttons {
	width: 120px;
	height: 45px;
	background: none;
	box-sizing: border-box;
	border-radius: 5px;
	font-family: "Karla";
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 0.06em;
	cursor: pointer;
}

.form-button-submit {
	background: #006eff;
	color: rgb(242, 250, 255);
	border: none;
	font-weight: 700;
}

.form-button-cancel {
	color: #444;
	border: 2px solid #888;
	font-size: 18px;
}
