.new-habit {
	padding: 10px;
	background: rgb(233, 233, 233);
	margin: 20px 20px 20px 20px;
    border-radius: 3px;
    border: 1px solid rgb(77, 77, 77);
}

.new-habit-columns {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	gap: 10px;
	text-align: center;
	align-items: center;
	height: 40px;
}

.new-habit-name {
    height: 25px;
	grid-column: span 3;
	text-align: left;
    border-radius: 3px;
    border: 1px solid rgb(66, 66, 66);
}