.header {
	background: #4249ff;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 30px 20px 30px;
}

.header-title {
	font-family: "Karla";
	font-weight: 500;
	font-size: 32px;
}

.header-buttons {
	display: flex;
}

.header-buttons > button {
	margin-left: 20px;
	border: none;
	background: none;
	cursor: pointer;
	font-family: "Karla";
	font-weight: 400;
	font-size: 16px;
	margin-left: 20px;
	padding: 0;
	color: white;
}
